**PART 1: DATABASE SETUP**

In [0]:
-- Day 2: DML Operations, Data Transformation, CASE, NULL Handling
-- Created by : Viknesh Arunachalam
-- Date: October 29, 2025

CREATE DATABASE IF NOT EXISTS bank_management;

USE bank_management;

SELECT current_database() AS current_db;

current_db
bank_management

**Part 2: CREATE TABLES**

*Table 1: Customers*

In [0]:
-- Table 1: CUSTOMERS
-- Stores bank customer information

create table if not exists customers (
  customer_id int not null,
  first_name string not null,
  last_name string not null,
  email string not null,
  phone string,
  address string,
  city string,
  state string,
  date_of_birth date,
  account_opened_date date, --default current_date()
  customer_type string, --default 'REGULAR'
  kyc_status string,  -- default 'Pending'

  constraint pk_customers primary key (customer_id)
--constraint uq_customers_email UNIQUE (email)
--CONSTRAINT chk_customer_type CHECK (customer_type IN ('Regular', 'Premium', 'VIP')),
--CONSTRAINT chk_kyc_status CHECK (kyc_status IN ('Pending', 'Verified', 'Rejected'))
);

--Check table structure
DESCRIBE customers;

col_name,data_type,comment
customer_id,int,null
first_name,string,null
last_name,string,null
email,string,null
phone,string,null
address,string,null
city,string,null
state,string,null
date_of_birth,date,null
account_opened_date,date,null
customer_type,string,null
kyc_status,string,null

*Table 2: Accounts*

In [0]:
-- Table 2: ACCOUNTS
-- Stores bank account information

CREATE TABLE if not EXISTS accounts (
  account_id INT NOT NULL,
  customer_id INT NOT NULL,
  account_number STRING NOT NULL,
  account_type STRING NOT NULL,
  balance DECIMAL(10,2) NOT NULL,
  currency STRING, --default 'USD'
  INTEREST_RATE DECIMAL(5,2), --default 0.00
  overdraft_limit DECIMAL(10,2), --default 0.00
  status STRING, --default 'Active'
  opened_date DATE, --default current_date()
  last_transaction_date DATE,

  CONSTRAINT pk_accounts PRIMARY KEY (account_id)
  --CONSTRAINT uq_accounts_customers UNIQUE (account_number),
  --CONSTRAINT chk_account_type CHECK (account_type IN ('Savings', 'Checking', 'Fixed Deposit', 'Credit Card')),
  --CONSTRAINT chk_status CHECK (status IN ('Active', 'Inactive', 'Frozen', 'Closed')),
  --CONSTRAINT chk_balance CHECK (balance >= -overdraft_limit)
);

DESCRIBE accounts;

col_name,data_type,comment
account_id,int,null
customer_id,int,null
account_number,string,null
account_type,string,null
balance,"decimal(10,2)",null
currency,string,null
INTEREST_RATE,"decimal(5,2)",null
overdraft_limit,"decimal(10,2)",null
status,string,null
opened_date,date,null
last_transaction_date,date,null

*Table 3: Transactions*

In [0]:

-- TABLE 3: TRANSACTIONS
-- Stores all banking transactions


CREATE TABLE if not exists transactions (
    transaction_id INT NOT NULL,
    account_id INT NOT NULL,
    transaction_type STRING NOT NULL,
    amount DECIMAL(12, 2) NOT NULL,
    transaction_date TIMESTAMP, -- DEFAULT CURRENT_TIMESTAMP(),
    description STRING,
    status STRING, -- DEFAULT 'Completed',
    reference_number STRING,
    
    CONSTRAINT pk_transactions PRIMARY KEY (transaction_id)
    --CONSTRAINT chk_transaction_type CHECK (transaction_type IN ('Deposit', 'Withdrawal', 'Transfer', 'Interest', 'Fee', 'Reversal')),
    --CONSTRAINT chk_amount CHECK (amount > 0)
    --CONSTRAINT chk_transaction_status CHECK (status IN ('Pending', 'Completed', 'Failed', 'Reversed'))
);

DESCRIBE transactions;

col_name,data_type,comment
transaction_id,int,null
account_id,int,null
transaction_type,string,null
amount,"decimal(12,2)",null
transaction_date,timestamp,null
description,string,null
status,string,null
reference_number,string,null

**PART 3: INSERT SAMPLE DATA**

*Insert Customers*

In [0]:

-- INSERT CUSTOMERS DATA

INSERT INTO customers (customer_id, first_name, last_name, email, phone, address, city, state, date_of_birth, account_opened_date, customer_type, kyc_status)
VALUES
(1001, 'John', 'Anderson', 'john.anderson@email.com', '555-1001', '100 Main St', 'New York', 'NY', DATE('1985-05-15'), DATE('2020-01-10'), 'Premium', 'Verified'),
(1002, 'Sarah', 'Mitchell', 'sarah.mitchell@email.com', '555-1002', '200 Oak Ave', 'Los Angeles', 'CA', DATE('1990-08-22'), DATE('2021-03-15'), 'Regular', 'Verified'),
(1003, 'Michael', 'Thompson', 'michael.t@email.com', '555-1003', '300 Pine St', 'Chicago', 'IL', DATE('1978-12-10'), DATE('2019-06-20'), 'VIP', 'Verified'),
(1004, 'Emily', 'Rodriguez', 'emily.r@email.com', NULL, '400 Elm Rd', 'Houston', 'TX', DATE('1995-03-18'), DATE('2023-01-05'), 'Regular', 'Verified'),
(1005, 'David', 'Chen', 'david.chen@email.com', '555-1005', '500 Maple Dr', 'Phoenix', 'AZ', DATE('1988-07-30'), DATE('2022-09-12'), 'Premium', 'Verified'),
(1006, 'Lisa', 'Johnson', 'lisa.j@email.com', '555-1006', '600 Cedar Ln', 'Philadelphia', 'PA', DATE('1992-11-25'), DATE('2023-05-20'), 'Regular', 'Pending'),
(1007, 'Robert', 'Williams', 'robert.w@email.com', NULL, '700 Birch Ave', 'San Diego', 'CA', DATE('1982-04-08'), DATE('2020-11-30'), 'Premium', 'Verified'),
(1008, 'Jennifer', 'Brown', 'jennifer.b@email.com', '555-1008', '800 Spruce St', 'Dallas', 'TX', DATE('1998-09-14'), DATE('2023-08-15'), 'Regular', 'Rejected');

-- Verify
SELECT COUNT(*) AS total_customers FROM customers;
SELECT * FROM customers;

customer_id,first_name,last_name,email,phone,address,city,state,date_of_birth,account_opened_date,customer_type,kyc_status
1002,Sarah,Mitchell,sarah.mitchell@email.com,555-1002,150 New Street,Boston,MA,1990-08-22,2021-03-15,Regular,Verified
1001,John,Anderson,john.anderson@email.com,555-1001,100 Main St,New York,NY,1985-05-15,2020-01-10,Premium,Verified
1003,Michael,Thompson,michael.t@email.com,555-1003,300 Pine St,Chicago,IL,1978-12-10,2019-06-20,VIP,Verified
1005,David,Chen,david.chen@email.com,555-1005,500 Maple Dr,Phoenix,AZ,1988-07-30,2022-09-12,Premium,Verified
1006,Lisa,Johnson,lisa.j@email.com,555-1006,600 Cedar Ln,Philadelphia,PA,1992-11-25,2023-05-20,Regular,Pending
1007,Robert,Williams,robert.w@email.com,null,700 Birch Ave,San Diego,CA,1982-04-08,2020-11-30,Premium,Verified
1008,Jennifer,Brown,jennifer.b@email.com,555-1008,800 Spruce St,Dallas,TX,1998-09-14,2023-08-15,Regular,Rejected
1004,Emily,Rodriguez,emily.r@email.com,555-1004,400 Elm Rd,Houston,TX,1995-03-18,2023-01-05,Regular,Verified
1001,John,Anderson,john.anderson@email.com,555-1001,100 Main St,New York,NY,1985-05-15,2020-01-10,Premium,Verified
1002,Sarah,Mitchell,sarah.mitchell@email.com,555-1002,200 Oak Ave,Los Angeles,CA,1990-08-22,2021-03-15,Regular,Verified
1003,Michael,Thompson,michael.t@email.com,555-1003,300 Pine St,Chicago,IL,1978-12-10,2019-06-20,VIP,Verified
1004,Emily,Rodriguez,emily.r@email.com,null,400 Elm Rd,Houston,TX,1995-03-18,2023-01-05,Regular,Verified
1005,David,Chen,david.chen@email.com,555-1005,500 Maple Dr,Phoenix,AZ,1988-07-30,2022-09-12,Premium,Verified
1006,Lisa,Johnson,lisa.j@email.com,555-1006,600 Cedar Ln,Philadelphia,PA,1992-11-25,2023-05-20,Regular,Pending
1007,Robert,Williams,robert.w@email.com,null,700 Birch Ave,San Diego,CA,1982-04-08,2020-11-30,Premium,Verified
1008,Jennifer,Brown,jennifer.b@email.com,555-1008,800 Spruce St,Dallas,TX,1998-09-14,2023-08-15,Regular,Rejected

In [0]:
-- =====================================================
-- INSERT ACCOUNTS DATA
-- =====================================================

INSERT INTO accounts (account_id, customer_id, account_number, account_type, balance, currency, interest_rate, overdraft_limit, status, opened_date, last_transaction_date)
VALUES
-- Customer 1001 has 2 accounts
(2001, 1001, 'ACC1001-SAV', 'Savings', 15000.00, 'USD', 2.50, 0.00, 'Active', DATE('2020-01-10'), DATE('2024-10-20')),
(2002, 1001, 'ACC1001-CHK', 'Checking', 3500.50, 'USD', 0.00, 1000.00, 'Active', DATE('2020-01-10'), DATE('2024-10-25')),

-- Customer 1002 has 1 account
(2003, 1002, 'ACC1002-SAV', 'Savings', 8200.75, 'USD', 2.50, 0.00, 'Active', DATE('2021-03-15'), DATE('2024-10-22')),

-- Customer 1003 has 3 accounts (VIP customer)
(2004, 1003, 'ACC1003-SAV', 'Savings', 50000.00, 'USD', 3.00, 0.00, 'Active', DATE('2019-06-20'), DATE('2024-10-26')),
(2005, 1003, 'ACC1003-CHK', 'Checking', 12000.00, 'USD', 0.00, 5000.00, 'Active', DATE('2019-06-20'), DATE('2024-10-27')),
(2006, 1003, 'ACC1003-FD', 'Fixed Deposit', 100000.00, 'USD', 5.50, 0.00, 'Active', DATE('2019-06-20'), NULL),

-- Customer 1004 has 1 account
(2007, 1004, 'ACC1004-CHK', 'Checking', 1250.30, 'USD', 0.00, 500.00, 'Active', DATE('2023-01-05'), DATE('2024-10-15')),

-- Customer 1005 has 2 accounts
(2008, 1005, 'ACC1005-SAV', 'Savings', 22000.00, 'USD', 2.50, 0.00, 'Active', DATE('2022-09-12'), DATE('2024-10-28')),
(2009, 1005, 'ACC1005-CHK', 'Checking', -450.00, 'USD', 0.00, 1000.00, 'Active', DATE('2022-09-12'), DATE('2024-10-24')),

-- Customer 1006 has 1 account (KYC Pending)
(2010, 1006, 'ACC1006-SAV', 'Savings', 500.00, 'USD', 2.50, 0.00, 'Frozen', DATE('2023-05-20'), NULL),

-- Customer 1007 has 1 account
(2011, 1007, 'ACC1007-SAV', 'Savings', 18500.00, 'USD', 2.50, 0.00, 'Active', DATE('2020-11-30'), DATE('2024-10-21')),

-- Customer 1008 has 1 closed account (KYC Rejected)
(2012, 1008, 'ACC1008-SAV', 'Savings', 0.00, 'USD', 2.50, 0.00, 'Closed', DATE('2023-08-15'), DATE('2023-09-01'));

-- Verify
SELECT COUNT(*) AS total_accounts FROM accounts;
SELECT * FROM accounts;

account_id,customer_id,account_number,account_type,balance,currency,INTEREST_RATE,overdraft_limit,status,opened_date,last_transaction_date
2001,1001,ACC1001-SAV,Savings,15000.00,USD,2.50,0.00,Active,2020-01-10,2024-10-20
2002,1001,ACC1001-CHK,Checking,3500.50,USD,0.00,1000.00,Active,2020-01-10,2024-10-25
2003,1002,ACC1002-SAV,Savings,8200.75,USD,2.50,0.00,Active,2021-03-15,2024-10-22
2004,1003,ACC1003-SAV,Savings,50000.00,USD,3.00,0.00,Active,2019-06-20,2024-10-26
2005,1003,ACC1003-CHK,Checking,12000.00,USD,0.00,5000.00,Active,2019-06-20,2024-10-27
2006,1003,ACC1003-FD,Fixed Deposit,100000.00,USD,5.50,0.00,Active,2019-06-20,null
2007,1004,ACC1004-CHK,Checking,1250.30,USD,0.00,500.00,Active,2023-01-05,2024-10-15
2008,1005,ACC1005-SAV,Savings,22000.00,USD,2.50,0.00,Active,2022-09-12,2024-10-28
2009,1005,ACC1005-CHK,Checking,-450.00,USD,0.00,1000.00,Active,2022-09-12,2024-10-24
2010,1006,ACC1006-SAV,Savings,500.00,USD,2.50,0.00,Frozen,2023-05-20,null
2011,1007,ACC1007-SAV,Savings,18500.00,USD,2.50,0.00,Active,2020-11-30,2024-10-21
2012,1008,ACC1008-SAV,Savings,0.00,USD,2.50,0.00,Closed,2023-08-15,2023-09-01
2001,1001,ACC1001-SAV,Savings,15000.00,USD,2.50,0.00,Active,2020-01-10,2024-10-20
2002,1001,ACC1001-CHK,Checking,3500.50,USD,0.00,1000.00,Active,2020-01-10,2024-10-25
2003,1002,ACC1002-SAV,Savings,8200.75,USD,2.50,0.00,Active,2021-03-15,2024-10-22
2004,1003,ACC1003-SAV,Savings,50000.00,USD,3.00,0.00,Active,2019-06-20,2024-10-26
2005,1003,ACC1003-CHK,Checking,12000.00,USD,0.00,5000.00,Active,2019-06-20,2024-10-27
2006,1003,ACC1003-FD,Fixed Deposit,100000.00,USD,5.50,0.00,Active,2019-06-20,null
2007,1004,ACC1004-CHK,Checking,1250.30,USD,0.00,500.00,Active,2023-01-05,2024-10-15
2008,1005,ACC1005-SAV,Savings,22000.00,USD,2.50,0.00,Active,2022-09-12,2024-10-28
2009,1005,ACC1005-CHK,Checking,-450.00,USD,0.00,1000.00,Active,2022-09-12,2024-10-24
2010,1006,ACC1006-SAV,Savings,500.00,USD,2.50,0.00,Frozen,2023-05-20,null
2011,1007,ACC1007-SAV,Savings,18500.00,USD,2.50,0.00,Active,2020-11-30,2024-10-21
2012,1008,ACC1008-SAV,Savings,0.00,USD,2.50,0.00,Closed,2023-08-15,2023-09-01

In [0]:
-- =====================================================
-- INSERT TRANSACTIONS DATA
-- =====================================================

INSERT INTO transactions (transaction_id, account_id, transaction_type, amount, transaction_date, description, status, reference_number)
VALUES
-- Account 2001 transactions (Savings)
(3001, 2001, 'Deposit', 5000.00, TIMESTAMP('2024-10-01 09:30:00'), 'Salary deposit', 'Completed', 'TXN2024100001'),
(3002, 2001, 'Withdrawal', 2000.00, TIMESTAMP('2024-10-05 14:20:00'), 'ATM withdrawal', 'Completed', 'TXN2024100002'),
(3003, 2001, 'Interest', 25.50, TIMESTAMP('2024-10-20 00:00:00'), 'Monthly interest credit', 'Completed', 'TXN2024100003'),

-- Account 2002 transactions (Checking)
(3004, 2002, 'Deposit', 3000.00, TIMESTAMP('2024-10-10 10:15:00'), 'Cash deposit', 'Completed', 'TXN2024100004'),
(3005, 2002, 'Withdrawal', 500.00, TIMESTAMP('2024-10-15 16:45:00'), 'Bill payment', 'Completed', 'TXN2024100005'),
(3006, 2002, 'Fee', 15.00, TIMESTAMP('2024-10-25 00:00:00'), 'Monthly maintenance fee', 'Completed', 'TXN2024100006'),

-- Account 2003 transactions
(3007, 2003, 'Deposit', 8000.00, TIMESTAMP('2024-09-15 11:00:00'), 'Initial deposit', 'Completed', 'TXN2024090001'),
(3008, 2003, 'Withdrawal', 500.00, TIMESTAMP('2024-10-10 13:30:00'), 'ATM withdrawal', 'Completed', 'TXN2024100007'),

-- Account 2004 transactions (VIP - large amounts)
(3009, 2004, 'Deposit', 50000.00, TIMESTAMP('2024-10-01 08:00:00'), 'Wire transfer', 'Completed', 'TXN2024100008'),
(3010, 2004, 'Withdrawal', 10000.00, TIMESTAMP('2024-10-15 10:30:00'), 'Investment withdrawal', 'Completed', 'TXN2024100009'),

-- Account 2005 transactions
(3011, 2005, 'Deposit', 12000.00, TIMESTAMP('2024-10-20 09:00:00'), 'Business income', 'Completed', 'TXN2024100010'),

-- Account 2007 transactions
(3012, 2007, 'Deposit', 1500.00, TIMESTAMP('2024-10-05 12:00:00'), 'Salary deposit', 'Completed', 'TXN2024100011'),
(3013, 2007, 'Withdrawal', 250.00, TIMESTAMP('2024-10-15 15:30:00'), 'Shopping', 'Completed', 'TXN2024100012'),

-- Account 2009 transactions (Overdraft scenario)
(3014, 2009, 'Deposit', 1000.00, TIMESTAMP('2024-10-01 10:00:00'), 'Salary deposit', 'Completed', 'TXN2024100013'),
(3015, 2009, 'Withdrawal', 1450.00, TIMESTAMP('2024-10-24 14:00:00'), 'Emergency withdrawal', 'Completed', 'TXN2024100014'),

-- Failed transaction example
(3016, 2003, 'Withdrawal', 10000.00, TIMESTAMP('2024-10-22 16:00:00'), 'Large withdrawal attempt', 'Failed', 'TXN2024100015'),

-- Pending transaction example
(3017, 2008, 'Deposit', 5000.00, TIMESTAMP('2024-10-28 17:00:00'), 'Check deposit pending clearance', 'Pending', 'TXN2024100016');

-- Verify
SELECT COUNT(*) AS total_transactions FROM transactions;
SELECT * FROM transactions LIMIT 10;

transaction_id,account_id,transaction_type,amount,transaction_date,description,status,reference_number
3001,2001,Deposit,5000.00,2024-10-01T09:30:00.000Z,Salary deposit,Completed,TXN2024100001
3002,2001,Withdrawal,2000.00,2024-10-05T14:20:00.000Z,ATM withdrawal,Completed,TXN2024100002
3003,2001,Interest,25.50,2024-10-20T00:00:00.000Z,Monthly interest credit,Completed,TXN2024100003
3004,2002,Deposit,3000.00,2024-10-10T10:15:00.000Z,Cash deposit,Completed,TXN2024100004
3005,2002,Withdrawal,500.00,2024-10-15T16:45:00.000Z,Bill payment,Completed,TXN2024100005
3006,2002,Fee,15.00,2024-10-25T00:00:00.000Z,Monthly maintenance fee,Completed,TXN2024100006
3007,2003,Deposit,8000.00,2024-09-15T11:00:00.000Z,Initial deposit,Completed,TXN2024090001
3008,2003,Withdrawal,500.00,2024-10-10T13:30:00.000Z,ATM withdrawal,Completed,TXN2024100007
3009,2004,Deposit,50000.00,2024-10-01T08:00:00.000Z,Wire transfer,Completed,TXN2024100008
3010,2004,Withdrawal,10000.00,2024-10-15T10:30:00.000Z,Investment withdrawal,Completed,TXN2024100009

**PART 4: UPDATE OPERATIONS**

In [0]:
-- Different tyoes of UPDATE Statements
-- UPDATE 1: Simple update - Change single column
-- Scenario: Customer phone number changed

UPDATE customers
set phone = '555-1004'
where customer_id = 1004;

-- Verify the change
select customer_id, first_name, last_name, phone
from customers
where customer_id = 1004;

customer_id,first_name,last_name,phone
1004,Emily,Rodriguez,555-1004
1004,Emily,Rodriguez,555-1004

In [0]:
-- Update multiple columns at once
-- Scenario: Customer moved to new address

update customers
set address = '150 New Street',
    city = 'Boston',
    state = 'MA'
where customer_id = 1002;

-- Verify 
select customer_id, first_name, last_name, address, city, state   
from customers
where customer_id = 1002;

customer_id,first_name,last_name,address,city,state
1002,Sarah,Mitchell,150 New Street,Boston,MA
1002,Sarah,Mitchell,150 New Street,Boston,MA

In [0]:
-- UPDATE 3: Conditional update with WHERE
-- Scenario: Approve all pending KYC for customers with verified email

update customers
set kyc_status = 'Verified'
where kyc_status = 'Pending'
 and email is not null;

 --Verify
 select customer_id, first_name, last_name, kyc_status
 from customers
 where customer_id = 1006;

customer_id,first_name,last_name,kyc_status
1006,Lisa,Johnson,Verified
1006,Lisa,Johnson,Verified

In [0]:
-- Update with calculation
-- Scenario: Add $100 bonus to all Premium customers

update accounts
set balance = balance + 100
where customer_id in (
  select customer_id
  from customers
  where customer_type = 'Premium'
);

num_affected_rows
10

In [0]:
-- Verify - Check Premium customer accounts
select a.account_id, a.account_number, a.balance, c.customer_type
from accounts a
join customers c on a.customer_id = c.customer_id
where c.customer_type = 'Premium';

account_id,account_number,balance,customer_type
2001,ACC1001-SAV,15100.00,Premium
2002,ACC1001-CHK,3600.50,Premium
2008,ACC1005-SAV,22100.00,Premium
2009,ACC1005-CHK,-350.00,Premium
2011,ACC1007-SAV,18600.00,Premium
2001,ACC1001-SAV,15100.00,Premium
2002,ACC1001-CHK,3600.50,Premium
2008,ACC1005-SAV,22100.00,Premium
2009,ACC1005-CHK,-350.00,Premium
2011,ACC1007-SAV,18600.00,Premium
2001,ACC1001-SAV,15100.00,Premium
2002,ACC1001-CHK,3600.50,Premium
2008,ACC1005-SAV,22100.00,Premium
2009,ACC1005-CHK,-350.00,Premium
2011,ACC1007-SAV,18600.00,Premium
2001,ACC1001-SAV,15100.00,Premium
2002,ACC1001-CHK,3600.50,Premium
2008,ACC1005-SAV,22100.00,Premium
2009,ACC1005-CHK,-350.00,Premium
2011,ACC1007-SAV,18600.00,Premium

In [0]:
-- UPDATE 5: Update using CASE Statement
-- Scenario: Upgrade customer tiers based on total balance

update customers c
set customer_type = case   
when (select sum(balance) from accounts where customer_id = c.customer_id) >= 100000 then 'VIP'
WHEN (SELECT SUM(balance) FROM accounts WHERE customer_id = c.customer_id) >= 20000 THEN 'Premium'
    ELSE 'Regular'
END
WHERE customer_id IN (SELECT DISTINCT customer_id FROM accounts);

num_affected_rows
16

**PART 6: NULL HANDLING**

In [0]:
-- Null Handling - Working with missing/unknown data
-- Example 1: COALESCE - Provide default values
-- Scenario: Show phone or "Not Provided" if missing

SELECT c.customer_id,
       c.first_name,
       c.last_name,
       coalesce(c.phone, 'Not Provided') as phone,
       coalesce(a.last_transaction_date, a.opened_date) as last_activity_date
FROM customers c
LEFT JOIN accounts a ON c.customer_id = a.customer_id;

customer_id,first_name,last_name,phone,last_activity_date
1006,Lisa,Johnson,555-1006,2023-05-20
1006,Lisa,Johnson,555-1006,2023-05-20
1002,Sarah,Mitchell,555-1002,2024-10-22
1002,Sarah,Mitchell,555-1002,2024-10-22
1004,Emily,Rodriguez,555-1004,2024-10-15
1004,Emily,Rodriguez,555-1004,2024-10-15
1001,John,Anderson,555-1001,2024-10-25
1003,Michael,Thompson,555-1003,2019-06-20
1005,David,Chen,555-1005,2024-10-24
1007,Robert,Williams,Not Provided,2024-10-21
1008,Jennifer,Brown,555-1008,2023-09-01
1001,John,Anderson,555-1001,2024-10-25
1003,Michael,Thompson,555-1003,2019-06-20
1005,David,Chen,555-1005,2024-10-24
1007,Robert,Williams,Not Provided,2024-10-21
1008,Jennifer,Brown,555-1008,2023-09-01
1006,Lisa,Johnson,555-1006,2023-05-20
1006,Lisa,Johnson,555-1006,2023-05-20
1002,Sarah,Mitchell,555-1002,2024-10-22
1002,Sarah,Mitchell,555-1002,2024-10-22
1004,Emily,Rodriguez,555-1004,2024-10-15
1004,Emily,Rodriguez,555-1004,2024-10-15
1001,John,Anderson,555-1001,2024-10-20
1003,Michael,Thompson,555-1003,2024-10-27
1005,David,Chen,555-1005,2024-10-28
1007,Robert,Williams,Not Provided,2024-10-21
1008,Jennifer,Brown,555-1008,2023-09-01
1001,John,Anderson,555-1001,2024-10-20
1003,Michael,Thompson,555-1003,2024-10-27
1005,David,Chen,555-1005,2024-10-28
1007,Robert,Williams,Not Provided,2024-10-21
1008,Jennifer,Brown,555-1008,2023-09-01
1001,John,Anderson,555-1001,2024-10-25
1003,Michael,Thompson,555-1003,2024-10-26
1005,David,Chen,555-1005,2024-10-24
1001,John,Anderson,555-1001,2024-10-25
1003,Michael,Thompson,555-1003,2024-10-26
1005,David,Chen,555-1005,2024-10-24
1001,John,Anderson,555-1001,2024-10-20
1003,Michael,Thompson,555-1003,2019-06-20
1005,David,Chen,555-1005,2024-10-28
1001,John,Anderson,555-1001,2024-10-20
1003,Michael,Thompson,555-1003,2019-06-20
1005,David,Chen,555-1005,2024-10-28
1003,Michael,Thompson,555-1003,2024-10-27
1003,Michael,Thompson,555-1003,2024-10-27
1003,Michael,Thompson,555-1003,2024-10-26
1003,Michael,Thompson,555-1003,2024-10-26

In [0]:
select account_id, balance,
case  
   when balance >= 50000 then 'Very High'
   when balance >= 10000 then 'High'
   when balance >= 1000 then 'Medium'
   else 'Low'
  end as balance_category
from accounts;

account_id,balance,balance_category
2003,8200.75,Medium
2004,50000.00,Very High
2005,12000.00,High
2006,100000.00,Very High
2007,1250.30,Medium
2010,500.00,Low
2012,0.00,Low
2001,15100.00,High
2002,3600.50,Medium
2008,22100.00,High
2009,-350.00,Low
2011,18600.00,High
2001,15100.00,High
2002,3600.50,Medium
2008,22100.00,High
2009,-350.00,Low
2011,18600.00,High
2003,8200.75,Medium
2004,50000.00,Very High
2005,12000.00,High
2006,100000.00,Very High
2007,1250.30,Medium
2010,500.00,Low
2012,0.00,Low