In [0]:
-- =====================================================
-- DAY 6 POC - CTEs & RECURSIVE QUERIES
-- =====================================================

USE bank_management;

-- =====================================================
-- TOPIC 1: BASIC CTE
-- =====================================================

-- Example: Simple CTE for readability
SELECT '=== Basic CTE Example ===' AS example;

WITH high_balance_accounts AS (
    SELECT 
        account_id,
        customer_id,
        account_number,
        balance
    FROM accounts
    WHERE balance > 10000
)
SELECT 
    c.first_name || ' ' || c.last_name AS customer_name,
    h.account_number,
    h.balance
FROM high_balance_accounts h
JOIN customers c ON h.customer_id = c.customer_id
ORDER BY h.balance DESC;

-- =====================================================
-- TOPIC 2: MULTIPLE CTEs (CHAINED)
-- =====================================================

SELECT '=== Multiple CTEs - Step by Step Analysis ===' AS example;

WITH 
-- Step 1: Calculate per-customer totals
customer_totals AS (
    SELECT 
        c.customer_id,
        c.first_name || ' ' || c.last_name AS customer_name,
        c.customer_type,
        COUNT(a.account_id) AS account_count,
        COALESCE(SUM(a.balance), 0) AS total_balance
    FROM customers c
    LEFT JOIN accounts a ON c.customer_id = a.customer_id
    GROUP BY c.customer_id, c.first_name, c.last_name, c.customer_type
),
-- Step 2: Calculate averages by customer type
type_averages AS (
    SELECT 
        customer_type,
        ROUND(AVG(total_balance), 2) AS avg_balance_for_type
    FROM customer_totals
    GROUP BY customer_type
),
-- Step 3: Compare each customer to their type's average
customer_comparison AS (
    SELECT 
        ct.customer_name,
        ct.customer_type,
        ct.total_balance,
        ta.avg_balance_for_type,
        ROUND(ct.total_balance - ta.avg_balance_for_type, 2) AS difference_from_avg,
        CASE 
            WHEN ct.total_balance > ta.avg_balance_for_type THEN 'Above Average'
            WHEN ct.total_balance < ta.avg_balance_for_type THEN 'Below Average'
            ELSE 'Average'
        END AS performance
    FROM customer_totals ct
    JOIN type_averages ta ON ct.customer_type = ta.customer_type
)
SELECT * FROM customer_comparison
ORDER BY total_balance DESC
LIMIT 10;

-- =====================================================
-- TOPIC 3: REUSING CTE MULTIPLE TIMES
-- =====================================================

SELECT '=== Reusing Same CTE ===' AS example;

WITH monthly_summary AS (
    SELECT 
        DATE_TRUNC('month', transaction_date) AS month,
        COUNT(*) AS transaction_count,
        SUM(amount) AS total_amount,
        AVG(amount) AS avg_amount
    FROM transactions
    GROUP BY DATE_TRUNC('month', transaction_date)
)
-- Use same CTE twice
SELECT 'Top Month' AS metric, month, total_amount
FROM monthly_summary
ORDER BY total_amount DESC
LIMIT 1
UNION ALL
SELECT 'Bottom Month' AS metric, month, total_amount
FROM monthly_summary
ORDER BY total_amount ASC
LIMIT 1;

-- =====================================================
-- TOPIC 4: RECURSIVE CTE - SETUP DATA
-- =====================================================

-- Create hierarchy table for demo
CREATE TABLE IF NOT EXISTS employee_hierarchy (
    employee_id INT,
    employee_name STRING,
    manager_id INT,
    title STRING
);

-- Clear and insert sample data
DELETE FROM employee_hierarchy WHERE employee_id IS NOT NULL;

INSERT INTO employee_hierarchy VALUES
(1, 'Sarah Chen', NULL, 'CEO'),
(2, 'Michael Scott', 1, 'VP Operations'),
(3, 'Angela Martin', 1, 'VP Finance'),
(4, 'Jim Halpert', 2, 'Director Sales'),
(5, 'Pam Beesly', 2, 'Director Marketing'),
(6, 'Dwight Schrute', 4, 'Sales Manager'),
(7, 'Stanley Hudson', 4, 'Sales Manager'),
(8, 'Kevin Malone', 3, 'Accountant'),
(9, 'Oscar Martinez', 3, 'Senior Accountant'),
(10, 'Ryan Howard', 6, 'Sales Rep'),
(11, 'Kelly Kapoor', 5, 'Marketing Specialist');

-- =====================================================
-- TOPIC 5: RECURSIVE CTE - FULL ORG CHART
-- =====================================================

SELECT '=== Recursive CTE - Full Organization Chart ===' AS example;

WITH RECURSIVE org_chart AS (
    -- Anchor: Start with CEO (no manager)
    SELECT 
        employee_id,
        employee_name,
        manager_id,
        title,
        1 AS level,
        CAST(employee_name AS STRING) AS path
    FROM employee_hierarchy
    WHERE manager_id IS NULL
    
    UNION ALL
    
    -- Recursive: Get employees who report to people already in result
    SELECT 
        e.employee_id,
        e.employee_name,
        e.manager_id,
        e.title,
        oc.level + 1,
        CAST(oc.path || ' â†’ ' || e.employee_name AS STRING) AS path
    FROM employee_hierarchy e
    JOIN org_chart oc ON e.manager_id = oc.employee_id
)
SELECT 
    REPEAT('  ', level - 1) || employee_name AS org_structure,
    title,
    level,
    path
FROM org_chart
ORDER BY level, employee_name;

-- =====================================================
-- TOPIC 6: RECURSIVE CTE - FIND ALL REPORTS
-- =====================================================

SELECT '=== Find All Employees Under VP Operations ===' AS example;

WITH RECURSIVE reports AS (
    -- Anchor: Start with VP Operations
    SELECT 
        employee_id,
        employee_name,
        manager_id,
        title,
        0 AS levels_below
    FROM employee_hierarchy
    WHERE employee_name = 'Michael Scott'
    
    UNION ALL
    
    -- Recursive: Get all their direct and indirect reports
    SELECT 
        e.employee_id,
        e.employee_name,
        e.manager_id,
        e.title,
        r.levels_below + 1
    FROM employee_hierarchy e
    JOIN reports r ON e.manager_id = r.employee_id
)
SELECT 
    employee_name,
    title,
    levels_below,
    CASE levels_below
        WHEN 0 THEN 'Manager'
        WHEN 1 THEN 'Direct Report'
        ELSE 'Indirect Report'
    END AS relationship
FROM reports
ORDER BY levels_below, employee_name;

-- =====================================================
-- TOPIC 7: RECURSIVE CTE - MANAGEMENT CHAIN
-- =====================================================

SELECT '=== Management Chain for Sales Rep ===' AS example;

WITH RECURSIVE management_chain AS (
    -- Anchor: Start with the employee
    SELECT 
        employee_id,
        employee_name,
        manager_id,
        title,
        0 AS level_up
    FROM employee_hierarchy
    WHERE employee_name = 'Ryan Howard'
    
    UNION ALL
    
    -- Recursive: Get their manager, then their manager's manager, etc.
    SELECT 
        e.employee_id,
        e.employee_name,
        e.manager_id,
        e.title,
        mc.level_up + 1
    FROM employee_hierarchy e
    JOIN management_chain mc ON e.employee_id = mc.manager_id
)
SELECT 
    level_up,
    employee_name,
    title,
    CASE level_up
        WHEN 0 THEN 'Employee'
        WHEN 1 THEN 'Direct Manager'
        WHEN 2 THEN 'Manager\'s Manager'
        ELSE 'Upper Management'
    END AS relationship
FROM management_chain
ORDER BY level_up;

-- =====================================================
-- TOPIC 8: CTE WITH WINDOW FUNCTIONS
-- =====================================================

SELECT '=== CTE + Window Functions Combined ===' AS example;

WITH transaction_ranking AS (
    SELECT 
        t.transaction_id,
        t.account_id,
        a.account_number,
        t.amount,
        t.transaction_date,
        ROW_NUMBER() OVER (PARTITION BY t.account_id ORDER BY t.amount DESC) AS rank_by_amount,
        SUM(t.amount) OVER (PARTITION BY t.account_id ORDER BY t.transaction_date) AS running_total
    FROM transactions t
    JOIN accounts a ON t.account_id = a.account_id
    WHERE t.transaction_type IN ('Deposit', 'Withdrawal')
)
SELECT 
    account_number,
    transaction_date,
    amount,
    rank_by_amount,
    ROUND(running_total, 2) AS running_total
FROM transaction_ranking
WHERE rank_by_amount <= 3
ORDER BY account_number, rank_by_amount;

-- =====================================================
-- QUESTION 1: TOP N PER CATEGORY WITH CTE
-- =====================================================

SELECT '=== Top 2 Transactions Per Account ===' AS example;

WITH ranked_transactions AS (
    SELECT 
        a.account_number,
        t.transaction_type,
        t.amount,
        t.transaction_date,
        ROW_NUMBER() OVER (
            PARTITION BY a.account_id 
            ORDER BY t.amount DESC
        ) AS rank
    FROM transactions t
    JOIN accounts a ON t.account_id = a.account_id
)
SELECT 
    account_number,
    transaction_type,
    amount,
    transaction_date
FROM ranked_transactions
WHERE rank <= 2
ORDER BY account_number, rank;

-- =====================================================
-- QUESTION 2: COMPLEX AGGREGATION
-- =====================================================

SELECT '=== Customer Lifetime Value Analysis ===' AS example;

WITH 
customer_transactions AS (
    SELECT 
        c.customer_id,
        c.first_name || ' ' || c.last_name AS customer_name,
        COUNT(t.transaction_id) AS total_transactions,
        SUM(CASE WHEN t.transaction_type = 'Deposit' THEN t.amount ELSE 0 END) AS total_deposits,
        SUM(CASE WHEN t.transaction_type = 'Withdrawal' THEN t.amount ELSE 0 END) AS total_withdrawals,
        MIN(t.transaction_date) AS first_transaction,
        MAX(t.transaction_date) AS last_transaction
    FROM customers c
    JOIN accounts a ON c.customer_id = a.customer_id
    JOIN transactions t ON a.account_id = t.account_id
    GROUP BY c.customer_id, c.first_name, c.last_name
),
customer_metrics AS (
    SELECT 
        *,
        total_deposits - total_withdrawals AS net_flow,
        DATEDIFF(last_transaction, first_transaction) AS days_active,
        ROUND(total_transactions * 1.0 / NULLIF(DATEDIFF(last_transaction, first_transaction), 0), 2) AS transactions_per_day
    FROM customer_transactions
)
SELECT 
    customer_name,
    total_transactions,
    ROUND(total_deposits, 2) AS total_deposits,
    ROUND(total_withdrawals, 2) AS total_withdrawals,
    ROUND(net_flow, 2) AS net_flow,
    days_active,
    transactions_per_day,
    CASE 
        WHEN net_flow > 10000 THEN 'High Value'
        WHEN net_flow > 5000 THEN 'Medium Value'
        ELSE 'Standard'
    END AS customer_segment
FROM customer_metrics
ORDER BY net_flow DESC;

-- =====================================================
-- QUESTION 3: HIERARCHICAL ROLLUP
-- =====================================================

SELECT '=== Department Headcount Rollup ===' AS example;

WITH RECURSIVE dept_rollup AS (
    -- Base: Count direct reports
    SELECT 
        manager_id AS employee_id,
        COUNT(*) AS direct_reports,
        0 AS total_team_size
    FROM employee_hierarchy
    WHERE manager_id IS NOT NULL
    GROUP BY manager_id
    
    UNION ALL
    
    -- Recursive: Add up team sizes up the chain
    SELECT 
        e.manager_id,
        COUNT(DISTINCT e.employee_id) AS direct_reports,
        SUM(dr.direct_reports + dr.total_team_size) AS total_team_size
    FROM employee_hierarchy e
    JOIN dept_rollup dr ON e.employee_id = dr.employee_id
    WHERE e.manager_id IS NOT NULL
    GROUP BY e.manager_id
)
SELECT 
    e.employee_name,
    e.title,
    COALESCE(dr.direct_reports, 0) AS direct_reports,
    COALESCE(dr.total_team_size, 0) AS total_team_size
FROM employee_hierarchy e
LEFT JOIN dept_rollup dr ON e.employee_id = dr.employee_id
WHERE e.manager_id IS NULL OR dr.direct_reports > 0
ORDER BY total_team_size DESC;

-- =====================================================
-- COMPARISON: SUBQUERY vs CTE
-- =====================================================

SELECT '=== Same Query: Subquery vs CTE ===' AS example;

-- Subquery approach (harder to read)
SELECT 
    customer_name,
    total_balance
FROM (
    SELECT 
        c.first_name || ' ' || c.last_name AS customer_name,
        SUM(a.balance) AS total_balance
    FROM customers c
    JOIN accounts a ON c.customer_id = a.customer_id
    GROUP BY c.customer_id, c.first_name, c.last_name
) AS subquery_result
WHERE total_balance > 20000
ORDER BY total_balance DESC
LIMIT 3;

-- CTE approach (more readable)
WITH customer_balances AS (
    SELECT 
        c.first_name || ' ' || c.last_name AS customer_name,
        SUM(a.balance) AS total_balance
    FROM customers c
    JOIN accounts a ON c.customer_id = a.customer_id
    GROUP BY c.customer_id, c.first_name, c.last_name
)
SELECT customer_name, total_balance
FROM customer_balances
WHERE total_balance > 20000
ORDER BY total_balance DESC
LIMIT 3;

-- =====================================================
-- SUMMARY
-- =====================================================

SELECT '=== DAY 6 CONCEPTS SUMMARY ===' AS summary;
SELECT 
    'Basic CTE' AS concept,
    'WITH name AS (SELECT...)' AS syntax,
    'Improves readability' AS benefit
UNION ALL
SELECT 'Multiple CTEs', 'WITH cte1 AS (...), cte2 AS (...)', 'Chain logical steps'
UNION ALL
SELECT 'Recursive CTE', 'WITH RECURSIVE ... UNION ALL', 'Query hierarchies'
UNION ALL
SELECT 'CTE Reuse', 'Reference same CTE twice', 'Avoid repeating logic'
UNION ALL
SELECT 'CTE + Windows', 'Combine for complex analysis', 'Powerful combination'
UNION ALL
SELECT 'Anchor + Recursive', 'Base case + iteration', 'Build hierarchy level by level';

-- Clean up
DROP TABLE IF EXISTS employee_hierarchy;

-- =====================================================
-- END OF DAY 6 POC
-- =====================================================

---------------------------------------------------------------------------
ParseException                            Traceback (most recent call last)
File <command-7671861032519022>, line 1
----> 1 get_ipython().run_cell_magic('sql', '', "-- =====================================================\n-- DAY 6 POC - CTEs & RECURSIVE QUERIES\n-- =====================================================\n\nUSE bank_management;\n\n-- =====================================================\n-- TOPIC 1: BASIC CTE\n-- =====================================================\n\n-- Example: Simple CTE for readability\nSELECT '=== Basic CTE Example ===' AS example;\n\nWITH high_balance_accounts AS (\n    SELECT \n        account_id,\n        customer_id,\n        account_number,\n        balance\n    FROM accounts\n    WHERE balance > 10000\n)\nSELECT \n    c.first_name || ' ' || c.last_name AS customer_name,\n    h.account_number,\n    h.balance\nFROM high_balance_accounts h\nJOIN customers c ON h.customer_id = c.customer_id\nORDER BY h.balance DESC;\n\n-- =====================================================\n-- TOPIC 2: MULTIPLE CTEs (CHAINED)\n-- =====================================================\n\nSELECT '=== Multiple CTEs - Step by Step Analysis ===' AS example;\n\nWITH \n-- Step 1: Calculate per-customer totals\ncustomer_totals AS (\n    SELECT \n        c.customer_id,\n        c.first_name || ' ' || c.last_name AS customer_name,\n        c.customer_type,\n        COUNT(a.account_id) AS account_count,\n        COALESCE(SUM(a.balance), 0) AS total_balance\n    FROM customers c\n    LEFT JOIN accounts a ON c.customer_id = a.customer_id\n    GROUP BY c.customer_id, c.first_name, c.last_name, c.customer_type\n),\n-- Step 2: Calculate averages by customer type\ntype_averages AS (\n    SELECT \n        customer_type,\n        ROUND(AVG(total_balance), 2) AS avg_balance_for_type\n    FROM customer_totals\n    GROUP BY customer_type\n),\n-- Step 3: Compare each customer to their type's average\ncustomer_comparison AS (\n    SELECT \n        ct.customer_name,\n        ct.customer_type,\n        ct.total_balance,\n        ta.avg_balance_for_type,\n        ROUND(ct.total_balance - ta.avg_balance_for_type, 2) AS difference_from_avg,\n        CASE \n            WHEN ct.total_balance > ta.avg_balance_for_type THEN 'Above Average'\n            WHEN ct.total_balance < ta.avg_balance_for_type THEN 'Below Average'\n            ELSE 'Average'\n        END AS performance\n    FROM customer_totals ct\n    JOIN type_averages ta ON ct.customer_type = ta.customer_type\n)\nSELECT * FROM customer_comparison\nORDER BY total_balance DESC\nLIMIT 10;\n\n-- =====================================================\n-- TOPIC 3: REUSING CTE MULTIPLE TIMES\n-- =====================================================\n\nSELECT '=== Reusing Same CTE ===' AS example;\n\nWITH monthly_summary AS (\n    SELECT \n        DATE_TRUNC('month', transaction_date) AS month,\n        COUNT(*) AS transaction_count,\n        SUM(amount) AS total_amount,\n        AVG(amount) AS avg_amount\n    FROM transactions\n    GROUP BY DATE_TRUNC('month', transaction_date)\n)\n-- Use same CTE twice\nSELECT 'Top Month' AS metric, month, total_amount\nFROM monthly_summary\nORDER BY total_amount DESC\nLIMIT 1\nUNION ALL\nSELECT 'Bottom Month' AS metric, month, total_amount\nFROM monthly_summary\nORDER BY total_amount ASC\nLIMIT 1;\n\n-- =====================================================\n-- TOPIC 4: RECURSIVE CTE - SETUP DATA\n-- =====================================================\n\n-- Create hierarchy table for demo\nCREATE TABLE IF NOT EXISTS employee_hierarchy (\n    employee_id INT,\n    employee_name STRING,\n    manager_id INT,\n    title STRING\n);\n\n-- Clear and insert sample data\nDELETE FROM employee_hierarchy WHERE employee_id IS NOT NULL;\n\nINSERT INTO employee_hierarchy VALUES\n(1, 'Sarah Chen', NULL, 'CEO'),\n(2, 'Michael Scott', 1, 'VP Operations'),\n(3, 'Angela Martin', 1, 'VP Finance'),\n(4, 'Jim Halpert', 2, 'Director Sales'),\n(5, 'Pam Beesly', 2, 'Director Marketing'),\n(6, 'Dwight Schrute', 4, 'Sales Manager'),\n(7, 'Stanley Hudson', 4, 'Sales Manager'),\n(8, 'Kevin Malone', 3, 'Accountant'),\n(9, 'Oscar Martinez', 3, 'Senior Accountant'),\n(10, 'Ryan Howard', 6, 'Sales Rep'),\n(11, 'Kelly Kapoor', 5, 'Marketing Specialist');\n\n-- =====================================================\n-- TOPIC 5: RECURSIVE CTE - FULL ORG CHART\n-- =====================================================\n\nSELECT '=== Recursive CTE - Full Organization Chart ===' AS example;\n\nWITH RECURSIVE org_chart AS (\n    -- Anchor: Start with CEO (no manager)\n    SELECT \n        employee_id,\n        employee_name,\n        manager_id,\n        title,\n        1 AS level,\n        CAST(employee_name AS STRING) AS path\n    FROM employee_hierarchy\n    WHERE manager_id IS NULL\n    \n    UNION ALL\n    \n    -- Recursive: Get employees who report to people already in result\n    SELECT \n        e.employee_id,\n        e.employee_name,\n        e.manager_id,\n        e.title,\n        oc.level + 1,\n        CAST(oc.path || ' â†’ ' || e.employee_name AS STRING) AS path\n    FROM employee_hierarchy e\n    JOIN org_chart oc ON e.manager_id = oc.employee_id\n)\nSELECT \n    REPEAT('  ', level - 1) || employee_name AS org_structure,\n    title,\n    level,\n    path\nFROM org_chart\nORDER BY level, employee_name;\n\n-- =====================================================\n-- TOPIC 6: RECURSIVE CTE - FIND ALL REPORTS\n-- =====================================================\n\nSELECT '=== Find All Employees Under VP Operations ===' AS example;\n\nWITH RECURSIVE reports AS (\n    -- Anchor: Start with VP Operations\n    SELECT \n        employee_id,\n        employee_name,\n        manager_id,\n        title,\n        0 AS levels_below\n    FROM employee_hierarchy\n    WHERE employee_name = 'Michael Scott'\n    \n    UNION ALL\n    \n    -- Recursive: Get all their direct and indirect reports\n    SELECT \n        e.employee_id,\n        e.employee_name,\n        e.manager_id,\n        e.title,\n        r.levels_below + 1\n    FROM employee_hierarchy e\n    JOIN reports r ON e.manager_id = r.employee_id\n)\nSELECT \n    employee_name,\n    title,\n    levels_below,\n    CASE levels_below\n        WHEN 0 THEN 'Manager'\n        WHEN 1 THEN 'Direct Report'\n        ELSE 'Indirect Report'\n    END AS relationship\nFROM reports\nORDER BY levels_below, employee_name;\n\n-- =====================================================\n-- TOPIC 7: RECURSIVE CTE - MANAGEMENT CHAIN\n-- =====================================================\n\nSELECT '=== Management Chain for Sales Rep ===' AS example;\n\nWITH RECURSIVE management_chain AS (\n    -- Anchor: Start with the employee\n    SELECT \n        employee_id,\n        employee_name,\n        manager_id,\n        title,\n        0 AS level_up\n    FROM employee_hierarchy\n    WHERE employee_name = 'Ryan Howard'\n    \n    UNION ALL\n    \n    -- Recursive: Get their manager, then their manager's manager, etc.\n    SELECT \n        e.employee_id,\n        e.employee_name,\n        e.manager_id,\n        e.title,\n        mc.level_up + 1\n    FROM employee_hierarchy e\n    JOIN management_chain mc ON e.employee_id = mc.manager_id\n)\nSELECT \n    level_up,\n    employee_name,\n    title,\n    CASE level_up\n        WHEN 0 THEN 'Employee'\n        WHEN 1 THEN 'Direct Manager'\n        WHEN 2 THEN 'Manager\\'s Manager'\n        ELSE 'Upper Management'\n    END AS relationship\nFROM management_chain\nORDER BY level_up;\n\n-- =====================================================\n-- TOPIC 8: CTE WITH WINDOW FUNCTIONS\n-- =====================================================\n\nSELECT '=== CTE + Window Functions Combined ===' AS example;\n\nWITH transaction_ranking AS (\n    SELECT \n        t.transaction_id,\n        t.account_id,\n        a.account_number,\n        t.amount,\n        t.transaction_date,\n        ROW_NUMBER() OVER (PARTITION BY t.account_id ORDER BY t.amount DESC) AS rank_by_amount,\n        SUM(t.amount) OVER (PARTITION BY t.account_id ORDER BY t.transaction_date) AS running_total\n    FROM transactions t\n    JOIN accounts a ON t.account_id = a.account_id\n    WHERE t.transaction_type IN ('Deposit', 'Withdrawal')\n)\nSELECT \n    account_number,\n    transaction_date,\n    amount,\n    rank_by_amount,\n    ROUND(running_total, 2) AS running_total\nFROM transaction_ranking\nWHERE rank_by_amount <= 3\nORDER BY account_number, rank_by_amount;\n\n-- =====================================================\n-- QUESTION 1: TOP N PER CATEGORY WITH CTE\n-- =====================================================\n\nSELECT '=== Top 2 Transactions Per Account ===' AS example;\n\nWITH ranked_transactions AS (\n    SELECT \n        a.account_number,\n        t.transaction_type,\n        t.amount,\n        t.transaction_date,\n        ROW_NUMBER() OVER (\n            PARTITION BY a.account_id \n            ORDER BY t.amount DESC\n        ) AS rank\n    FROM transactions t\n    JOIN accounts a ON t.account_id = a.account_id\n)\nSELECT \n    account_number,\n    transaction_type,\n    amount,\n    transaction_date\nFROM ranked_transactions\nWHERE rank <= 2\nORDER BY account_number, rank;\n\n-- =====================================================\n-- QUESTION 2: COMPLEX AGGREGATION\n-- =====================================================\n\nSELECT '=== Customer Lifetime Value Analysis ===' AS example;\n\nWITH \ncustomer_transactions AS (\n    SELECT \n        c.customer_id,\n        c.first_name || ' ' || c.last_name AS customer_name,\n        COUNT(t.transaction_id) AS total_transactions,\n        SUM(CASE WHEN t.transaction_type = 'Deposit' THEN t.amount ELSE 0 END) AS total_deposits,\n        SUM(CASE WHEN t.transaction_type = 'Withdrawal' THEN t.amount ELSE 0 END) AS total_withdrawals,\n        MIN(t.transaction_date) AS first_transaction,\n        MAX(t.transaction_date) AS last_transaction\n    FROM customers c\n    JOIN accounts a ON c.customer_id = a.customer_id\n    JOIN transactions t ON a.account_id = t.account_id\n    GROUP BY c.customer_id, c.first_name, c.last_name\n),\ncustomer_metrics AS (\n    SELECT \n        *,\n        total_deposits - total_withdrawals AS net_flow,\n        DATEDIFF(last_transaction, first_transaction) AS days_active,\n        ROUND(total_transactions * 1.0 / NULLIF(DATEDIFF(last_transaction, first_transaction), 0), 2) AS transactions_per_day\n    FROM customer_transactions\n)\nSELECT \n    customer_name,\n    total_transactions,\n    ROUND(total_deposits, 2) AS total_deposits,\n    ROUND(total_withdrawals, 2) AS total_withdrawals,\n    ROUND(net_flow, 2) AS net_flow,\n    days_active,\n    transactions_per_day,\n    CASE \n        WHEN net_flow > 10000 THEN 'High Value'\n        WHEN net_flow > 5000 THEN 'Medium Value'\n        ELSE 'Standard'\n    END AS customer_segment\nFROM customer_metrics\nORDER BY net_flow DESC;\n\n-- =====================================================\n-- QUESTION 3: HIERARCHICAL ROLLUP\n-- =====================================================\n\nSELECT '=== Department Headcount Rollup ===' AS example;\n\nWITH RECURSIVE dept_rollup AS (\n    -- Base: Count direct reports\n    SELECT \n        manager_id AS employee_id,\n        COUNT(*) AS direct_reports,\n        0 AS total_team_size\n    FROM employee_hierarchy\n    WHERE manager_id IS NOT NULL\n    GROUP BY manager_id\n    \n    UNION ALL\n    \n    -- Recursive: Add up team sizes up the chain\n    SELECT \n        e.manager_id,\n        COUNT(DISTINCT e.employee_id) AS direct_reports,\n        SUM(dr.direct_reports + dr.total_team_size) AS total_team_size\n    FROM employee_hierarchy e\n    JOIN dept_rollup dr ON e.employee_id = dr.employee_id\n    WHERE e.manager_id IS NOT NULL\n    GROUP BY e.manager_id\n)\nSELECT \n    e.employee_name,\n    e.title,\n    COALESCE(dr.direct_reports, 0) AS direct_reports,\n    COALESCE(dr.total_team_size, 0) AS total_team_size\nFROM employee_hierarchy e\nLEFT JOIN dept_rollup dr ON e.employee_id = dr.employee_id\nWHERE e.manager_id IS NULL OR dr.direct_reports > 0\nORDER BY total_team_size DESC;\n\n-- =====================================================\n-- COMPARISON: SUBQUERY vs CTE\n-- =====================================================\n\nSELECT '=== Same Query: Subquery vs CTE ===' AS example;\n\n-- Subquery approach (harder to read)\nSELECT \n    customer_name,\n    total_balance\nFROM (\n    SELECT \n        c.first_name || ' ' || c.last_name AS customer_name,\n        SUM(a.balance) AS total_balance\n    FROM customers c\n    JOIN accounts a ON c.customer_id = a.customer_id\n    GROUP BY c.customer_id, c.first_name, c.last_name\n) AS subquery_result\nWHERE total_balance > 20000\nORDER BY total_balance DESC\nLIMIT 3;\n\n-- CTE approach (more readable)\nWITH customer_balances AS (\n    SELECT \n        c.first_name || ' ' || c.last_name AS customer_name,\n        SUM(a.balance) AS total_balance\n    FROM customers c\n    JOIN accounts a ON c.customer_id = a.customer_id\n    GROUP BY c.customer_id, c.first_name, c.last_name\n)\nSELECT customer_name, total_balance\nFROM customer_balances\nWHERE total_balance > 20000\nORDER BY total_balance DESC\nLIMIT 3;\n\n-- =====================================================\n-- SUMMARY\n-- =====================================================\n\nSELECT '=== DAY 6 CONCEPTS SUMMARY ===' AS summary;\nSELECT \n    'Basic CTE' AS concept,\n    'WITH name AS (SELECT...)' AS syntax,\n    'Improves readability' AS benefit\nUNION ALL\nSELECT 'Multiple CTEs', 'WITH cte1 AS (...), cte2 AS (...)', 'Chain logical steps'\nUNION ALL\nSELECT 'Recursive CTE', 'WITH RECURSIVE ... UNION ALL', 'Query hierarchies'\nUNION ALL\nSELECT 'CTE Reuse', 'Reference same CTE twice', 'Avoid repeating logic'\nUNION ALL\nSELECT 'CTE + Windows', 'Combine for complex analysis', 'Powerful combination'\nUNION ALL\nSELECT 'Anchor + Recursive', 'Base case + iteration', 'Build hierarchy level by level';\n\n-- Clean up\nDROP TABLE IF EXISTS employee_hierarchy;\n\n-- =====================================================\n-- END OF DAY 6 POC\n-- =====================================================\n")

File /databricks/python/lib/python3.12/site-packages/IPython/core/interactiveshell.py:2541, in InteractiveShell.run_cell_magic(self, magic_name, line, cell)
   2539 with self.builtin_trap:
   2540     args = (magic_arg_s, cell)
-> 2541     result = fn(*args, **kwargs)
   2543 # The code below prevents the output from being displayed
   2544 # when using magics with decorator @output_can_be_silenced
   2545 # when the last Python token in the expression is a ';'.
   2546 if getattr(fn, magic.MAGIC_OUTPUT_CAN_BE_SILENCED, False):

File /databricks/python_shell/lib/dbruntime/sql_magic/sql_magic.py:194, in SqlMagic.sql(self, line, cell)
    188 except BaseException as e:
    189     self.driver_activity_logger.logExecuteCommandEvent(
    190         "SQL_MAGIC_PY4J_FAILED",
    191         exceptionClassName=e.__class__.__name__,
    192         sqlState=safe_call(e, "getSqlState"),
    193         errorClass=safe_call(e, "getCondition"))
--> 194     raise e
    196 self.driver_activity_logger.logExecuteCommandEvent("SQL_MAGIC_PY4J_SUCCEEDED")
    197 return result

File /databricks/python_shell/lib/dbruntime/sql_magic/sql_magic.py:187, in SqlMagic.sql(self, line, cell)
    185         query_text = sub_query.query()
    186         sql_directive = self.entry_point.getSqlDirective(query_text)
--> 187         result = self._handle_sql_directive(sql_directive, i == number_of_sub_queries - 1)
    188 except BaseException as e:
    189     self.driver_activity_logger.logExecuteCommandEvent(
    190         "SQL_MAGIC_PY4J_FAILED",
    191         exceptionClassName=e.__class__.__name__,
    192         sqlState=safe_call(e, "getSqlState"),
    193         errorClass=safe_call(e, "getCondition"))

File /databricks/python_shell/lib/dbruntime/sql_magic/sql_magic.py:213, in SqlMagic._handle_sql_directive(self, sql_directive, is_last_query)
    211     query = sql_directive.sql()
    212     self._register_udf_if_needed(query)
--> 213     df = self._get_query_request_result(query)
    214 elif directive_name == "RemoveWidgetSpec":
    215     self.entry_point.getNotebookArguments().removeWidget(
    216         sql_directive.name(), self.entry_point.getCurrentBindings())

File /databricks/python_shell/lib/dbruntime/sql_magic/sql_magic.py:151, in SqlMagic._get_query_request_result(self, query)
    149 if len(widget_bindings := self._widget_cache.values) > 0:
    150     self.driver_activity_logger.logExecuteCommandEvent("PARAM_SYNTAX_USAGE")
--> 151 df = self.spark.sql(query, widget_bindings)
    152 return df

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/session.py:875, in SparkSession.sql(self, sqlQuery, args, **kwargs)
    872         _views.append(SubqueryAlias(df._plan, name))
    874 cmd = SQL(sqlQuery, _args, _named_args, _views)
--> 875 data, properties, ei = self.client.execute_command(cmd.command(self._client))
    876 if "sql_command_result" in properties:
    877     df = DataFrame(CachedRelation(properties["sql_command_result"]), self)

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/client/core.py:1556, in SparkConnectClient.execute_command(self, command, observations, extra_request_metadata)
   1554     req.user_context.user_id = self._user_id
   1555 req.plan.command.CopyFrom(command)
-> 1556 data, _, metrics, observed_metrics, properties = self._execute_and_fetch(
   1557     req, observations or {}, extra_request_metadata
   1558 )
   1559 # Create a query execution object.
   1560 ei = ExecutionInfo(metrics, observed_metrics)

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/client/core.py:2059, in SparkConnectClient._execute_and_fetch(self, req, observations, extra_request_metadata, self_destruct)
   2056 properties: Dict[str, Any] = {}
   2058 with Progress(handlers=self._progress_handlers, operation_id=req.operation_id) as progress:
-> 2059     for response in self._execute_and_fetch_as_iterator(
   2060         req, observations, extra_request_metadata or [], progress=progress
   2061     ):
   2062         if isinstance(response, StructType):
   2063             schema = response

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/client/core.py:2035, in SparkConnectClient._execute_and_fetch_as_iterator(self, req, observations, extra_request_metadata, progress)
   2033     raise kb
   2034 except Exception as error:
-> 2035     self._handle_error(error)

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/client/core.py:2355, in SparkConnectClient._handle_error(self, error)
   2353     self.thread_local.inside_error_handling = True
   2354     if isinstance(error, grpc.RpcError):
-> 2355         self._handle_rpc_error(error)
   2356     raise error
   2357 finally:

File /databricks/python/lib/python3.12/site-packages/pyspark/sql/connect/client/core.py:2433, in SparkConnectClient._handle_rpc_error(self, rpc_error)
   2429             logger.debug(f"Received ErrorInfo: {info}")
   2431             self._handle_rpc_error_with_error_info(info, status.message, status_code)  # EDGE
-> 2433             raise convert_exception(
   2434                 info,
   2435                 status.message,
   2436                 self._fetch_enriched_error(info),
   2437                 self._display_server_stack_trace(),
   2438                 status_code,
   2439             ) from None
   2441     raise SparkConnectGrpcException(
   2442         message=status.message,
   2443         sql_state=ErrorCode.CLIENT_UNEXPECTED_MISSING_SQL_STATE,  # EDGE
   2444         grpc_status_code=status_code,
   2445     ) from None
   2446 else:

ParseException: